.venv
.vscode
data
data/*
**/__pycache__
**/__pycache__/*
__pycache__
__pycache__/*core/content_generator.py
*.patch 
prompt.txt
**/*.rej
*.rej
**/*.orig 
*.orig 
**/*.patch
**/prompt.txt 
**/*prompt*
