@import url("https://fonts.googleapis.com/css2?family=Workbench:SCAN@-12&display=swap");

#MainMenu {
  visibility: hidden;
}
footer {
  visibility: hidden;
}
import streamlit as st .css-18e3th9 {
  padding-top: 0rem;
}
.stAppDeployButton {
  display: none;
}
.stStatusWidget label {
  display: none;
}
.stAlertContainer {
  background-color: #ed5d86;
  color: #f8f8f8;
  text-shadow: 0.25rem 0.25rem #000000;
  font-size: 200% !important;
  font-weight: 900;
  padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Workbench", sans-serif;
}
